.thumb{
    width: 500px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  fieldset{
    padding: 30px 30px;
  }
  .form{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;

  }
  .input-group{
    margin-bottom: 20px;
    font-size: 20px;
  }
  button{
   text-align: center;
    padding: 10px 10px;
  }
  table{width: 50% !important;
margin: 0 auto;
margin-top: 20px;}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.d-none{display: none;}